{% extends 'survey/about.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block body_block %}

		<div id="msg">{{msg}}</div>
		<div class="loginbox modal-inline">
	    <div class="row">
  		<div class="col-md-4 col-xs-4 col-sm-4"></div>
  		<div class="col-md-4 col-xs-4 col-sm-4 centered">
  			<h3 align="center"><a >Login</a></h3>

		<form id="login_form" method="post" action="/survey/login/" style="width:100%">
		{% csrf_token %}
		<div class="form-group">
		<input type="text" class="form-control" name="username" id="username" placeholder="username" />
		</div>
		<div class="form-group">
		<input type="password" class="form-control" name="password" id="password" placeholder="password" />
		</div>
		 <a href="/survey/register"> New user click here to Register </a>
		<input type="submit" id="login-button" value="Login"  class="form-control btn btn-primary"/>
		</div>
		</form>
 	</div>
 </div>



 		
{% endblock %}
</html>